@media all and (max-width: 670px) {
	#kolom1 {
		display: none !important;
	}
	.kolom2 {
		position: absolute;
		display: flex;
  		height: auto;
  		justify-content: center;
  		align-items: center;
		margin : 0;
		z-index:1;
	}
	#kolom3 {
		display: none !important;
	}
}
