@media all and (max-width: 670px) {
	#kolom1 {
		display: none !important;
	}
	.kolom2 {
		display: flex;
  		height: auto;
  		justify-content: center;
  		align-items: center;
	}
	#kolom3 {
		display: none !important;
	}
}
