@media screen and (max-device-width: 400px){
.baris-2a  {
	padding: 10px 12px;
	margin-right: 5px;
	margin-left: 9px;
	color: white;
	background-color: teal;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-2a:hover {
	background-color: #006d6d;
  	transition:all .25s;
}
.baris-2a:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-3c  {
	padding: 10px 15px;
	margin-right: 5px;
	margin-left: 9px;
	color: white;
	background-color: teal;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-3c:hover {
	background-color: #006d6d;
  	transition:all .25s;
}
.baris-3c:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}	
.baris-4a {
	padding: 10px 14px;
}
.p1 {
	text-shadow: 0.7px 1px rgba(255, 255, 255, 0.5);
	position: absolute;
	padding: 0 -10px;
	margin-top: -1px;
	color: red;
	font-size: 20px;
	font-family: "Chicago" !important;
}
}
