
* {
padding: 0;
margin: 5px;
}

body {
background-color:#ffcccc;
font-family: "Lucida Grande";
display: flex;
justify-content: center;
}

#display {
/*margin-bottom: -5px;*/
padding: 0;
width: 240px;
height: 50px;
text-align: right;
background-color: #000;
border: 3px solid grey;
font-size: 18px;
left: 2px;
top: 2px;
color: #fff;
opacity: .8;
border-radius: 2px;
}
.container {
	background-color: #333333;
	border-radius: 10px;
	max-width: 270px;
	border: 3px solid #999999;
	/*margin-left: -5px;*/
	padding: 5px;
	padding-top: -50px;
}
.baris-1, 
.baris-2, 
.baris-3 {
	padding: 10px 14px;
	margin-right: 5px;
	margin-left: 9px;
	color: white;
	background-color: teal;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-1:hover,
.baris-2:hover,
.baris-3:hover {
	background-color: #006d6d;
  	transition:all .25s;
}
.baris-1:active,
.baris-2:active,
.baris-3:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-2a {
	padding: 10px 13px;
	margin-right: 5px;
	margin-left: 9px;
	color: white;
	background-color: teal;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-2a:hover {
	background-color: #006d6d;
  	transition:all .25s;
}
.baris-2a:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-2b  {
	padding: 10px 12.5px;
	margin-right: 5px;
	margin-left: 9px;
	color: white;
	background-color: teal;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-2b:hover {
	background-color: #006d6d;
  	transition:all .25s;
}
.baris-2b:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-3c {
	padding: 10px 14px;
	margin-right: 5px;
	margin-left: 9px;
	color: white;
	background-color: teal;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-3c:hover {
	background-color: #006d6d;
  	transition:all .25s;
}
.baris-3c:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-4, 
.baris-5, 
.baris-6,
.baris-7,
.baris-8 {
	margin-left: 10px;
	padding: 10px 12.5px;
	color: white;
	background-color: grey;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-4:hover,
.baris-5:hover,
.baris-6:hover,
.baris-7:hover,
.baris-8:hover {
	background-color: #777777;
	transition:all .25s;
}
.baris-4:active,
.baris-5:active,
.baris-6:active,
.baris-7:active,
.baris-8:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-4a {
	padding-left: 5px;
	padding: 10px 15px;
	color: white;
	background-color: #990000;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
  	margin: 0 10px;
}
.baris-4a:hover {
	background-color: #660000;
	transition:all .25s;
}
.baris-4a:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-4b {
	padding: 10px 14px;
	color: white;
	background-color: grey;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
  	margin: 0 4px;
}
.baris-4b:hover {
	background-color: #777777;
	transition:all .25s;
}
.baris-4b:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-4c {
	padding-left: 5px;
	padding: 10px 14px;
	color: white;
	background-color: grey;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
  	margin: 0 10px;
}
.baris-4c:hover {
	background-color: #777777;
	transition:all .25s;
}
.baris-4c:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}

.baris-4d {
	padding-left: 5px;
	padding: 10px 15px;
	color: white;
	background-color: #0066ff;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
  	margin: 0 4px;
  	margin-bottom: 5px;
}
.baris-4d:hover {
	background-color: #0033cc;
	transition:all .25s;
}
.baris-4d:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-5d,
.baris-6d,
.baris-7d {
	padding: 10px 15px;
	color: white;
	background-color: #0066ff;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
  	margin: 0 10px;
}
.baris-5d:hover,
.baris-6d:hover,
.baris-7d:hover {
	background-color: #0033cc;
	transition:all .25s;
}
.baris-5d:active,
.baris-6d:active,
.baris-7d:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-8d {
	padding-left: 5px;
	padding: 10px 13px;
	color: white;
	background-color: grey;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 1.5px solid #999999;
  	box-shadow: 0 4px #999999;
  	margin: 0 10px;
  	margin-bottom: 6px;
}
.baris-8d:hover {
	background-color: #777777;
	transition:all .25s;
}
.baris-8d:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.p1 {
	text-shadow: 0.7px 1px rgba(255, 255, 255, 0.5);
	position: absolute;
	padding: 0 -10px;
	margin-top: -5px;
	color: red;
	font-size: 15px;
	font-family: "Chicago" !important;
}
p {
	color: white;
	font-size: 15px;
	font-family: "arial" !important;
	margin-top: 12px;
}
