* {
padding: 0;
margin: 5px;
/*margin: 0;*/
/*text-align: center;*/
}

body {
background-color:#ffcccc;
/*width: 350px;*/
/*height: auto;
margin: 0 auto;*/
font-family: "Lucida Grande";
/*text-align: center;
font-size: 20px;*/
display: flex;
justify-content: center;
}

#display {
padding: 0px 5px 0px 5px;
width: 230px;
height: 50px;
text-align: right;
background-color: #000;
border: 3px solid grey;
font-size: 18px;
left: 2px;
top: 2px;
color: #fff;
opacity: .8;
border-radius: 2px;
}
.kolom2{
	background-color: #333333;
	border-radius: 10px;
	padding: 10px 10px;
	max-width: 270px;
	border: 3px solid #999999;
}
.baris-1, 
.baris-2, 
.baris-3 {
	padding: 10px 15px;
	color: white;
	background-color: teal;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 0.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-1:hover,
.baris-2:hover,
.baris-3:hover {
	background-color: #006d6d;
  	transition:all .25s;
}
.baris-1:active,
.baris-2:active,
.baris-3:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-4, 
.baris-5, 
.baris-6,
.baris-7,
.baris-8 {
	padding: 10px 15px;
	color: white;
	background-color: grey;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 0.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-4:hover,
.baris-5:hover,
.baris-6:hover,
.baris-7:hover,
.baris-8:hover {
	background-color: #777777;
	transition:all .25s;
}
.baris-4:active,
.baris-5:active,
.baris-6:active,
.baris-7:active,
.baris-8:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-4a {
	padding: 10px 16px;
	color: white;
	background-color: #990000;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 0.5px solid #999999;
  	box-shadow: 0 4px #999999;
  	margin: 0 5px;
}
.baris-4a:hover {
	background-color: #660000;
	transition:all .25s;
}
.baris-4a:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
.baris-4d,
.baris-5d,
.baris-6d,
.baris-7d {
	padding: 10px 15px;
	color: white;
	background-color: #0066ff;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	border-top: 0.5px solid #999999;
  	box-shadow: 0 4px #999999;
}
.baris-4d:hover,
.baris-5d:hover,
.baris-6d:hover,
.baris-7d:hover {
	background-color: #0033cc;
	transition:all .25s;
}
.baris-4d:active,
.baris-5d:active,
.baris-6d:active,
.baris-7d:active {
	box-shadow: none;
  	position: relative; 
  	top: 1px;
}
p {
	color: white;
	font-size: 15px;
	font-family: "arial" !important;
}
.kolom1 {
	background-color: red;
}

.kolom3 {
	background-color: blue;
}
@media (min-width: 350px) and (max-width: 425px) {
	.kolom1 {
		display: none;
	}
	.kolom2 {
		display: block;
	}

	.kolom3 {
		display: none;
	}
}
